@charset "ISO-8859-1";
.body{
	margin:0%;
	padding:0%;
}
.full_body{
	background:url("https://image.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:100vh;
}
.log{
	margin-top:20vh;
}
.navbar{
	background:#D7D5D5;
	font-family: 'Roboto', sans-serif;
}
footer{
	background:#D7D5D5;
	color:#337b68;
	text-align:center;
	position:fixed;
	bottom:0px;
	width:100%;
	padding-top:1%;
	
}
.far{
	padding-bottom:1%;
}
.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #D7D5D5;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			font-family: 'Roboto', sans-serif;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

}
.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: white;
			padding: 10px;
			text-align: center;
}
.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
}
.form_container {
			margin-top: 100px;
}
.side_button:hover{
	color: #337b68 !important;
}
.login_btn {
			width: 100%;
			background: #337b68 ;
			color: white !important;
}
.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
}
.login_btn:hover{
	background:#00291C !important;
}
.login_container {
			padding: 0 2rem;
}
.input-group-text {
			background: #337b68 !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #337b68 !important;
}
