<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Final_Assesment_Team5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginValidation</display-name>
    <servlet-name>LoginValidation</servlet-name>
    <servlet-class>Emp.LoginValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidation</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDetails</display-name>
    <servlet-name>EmpDetails</servlet-name>
    <servlet-class>Emp.EmpDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDetails</servlet-name>
    <url-pattern>/EmpDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>Emp.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EducationalDetails</display-name>
    <servlet-name>EducationalDetails</servlet-name>
    <servlet-class>Emp.EducationalDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EducationalDetails</servlet-name>
    <url-pattern>/EducationalDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDetailsEdit</display-name>
    <servlet-name>EmpDetailsEdit</servlet-name>
    <servlet-class>Emp.EmpDetailsEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDetailsEdit</servlet-name>
    <url-pattern>/EmpDetailsEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Autopopulate</display-name>
    <servlet-name>Autopopulate</servlet-name>
    <servlet-class>Emp.Autopopulate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autopopulate</servlet-name>
    <url-pattern>/Autopopulate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutopopulateEdu</display-name>
    <servlet-name>AutopopulateEdu</servlet-name>
    <servlet-class>Emp.AutopopulateEdu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutopopulateEdu</servlet-name>
    <url-pattern>/AutopopulateEdu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EducationalDetailsEdit</display-name>
    <servlet-name>EducationalDetailsEdit</servlet-name>
    <servlet-class>Emp.EducationalDetailsEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EducationalDetailsEdit</servlet-name>
    <url-pattern>/EducationalDetailsEdit</url-pattern>
  </servlet-mapping>
</web-app>